*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #6594B1;
    padding: 20px;
    border-bottom: 5px solid #213C51;
}

section {
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(33, 60, 81, 0.5);
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 25px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    background-color: #213C51;
}

footer {
    background-color: #6594B1;
    padding: 20px;
    border-top: 5px solid #213C51;
    text-align: center;
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}